*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.app{
    background:url("https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/theme-background/zma.svg");
     background-attachment: fixed;  
    background-repeat:no-repeat;
}
 .fied{
    position:fixed;
    top:0;
    left:0;
    z-index: 2;
}
.menu-list{
    width:240px;
    background-color:rgb(65,20,101); 
    z-index: 10;
}
.menu-title{
    display:flex;
    align-items:center;
    padding-top:10px;
    margin-left:30px;
    margin-bottom:20px;
}
.menu-list-item1 li a{
    padding:7px 7px;
}
.menu-title h2{
    color:transparent;
    background-image: linear-gradient(to right top ,rgb(0,157, 220),rgb(244, 132,23),rgb(238,43,116));
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:2rem;
    font-weight:600;
}
.menu-title h4{
    color:#fff;
    font-size:1.4rem;
    font-weight: 500;
    margin-left:3px;
}
a{
    text-decoration: none;
}
li a{
    display:flex;
    align-items:center;
    text-align: center;
    margin-left:30px;
}
.menu-list-item1{
    border-bottom:  2px solid #666;
}
.menu-list-item1 li a span , p{
    color:#fff;
}

.menu-list-item1 li  a span{
    padding-right:10px;
  
}
.menu-list-item2 li  a span{
    padding-right:10px;
    color:#fff;
}
.menu-list-item2 {
    border-bottom: 2px solid #666;
}
.menu-list-item1 li a p{
    font-weight:600;
}
.menu-list-item2 li a p{
    font-size:1rem;
    font-weight:600;
}
.p{
    color:#fff;
    width:45px;
    height:20px;
    background-color:red;
    border-radius: 3px;
    margin-left:10px;
    text-align: center;
    line-height:20px;
    align-items: center;
}
.menu-list-item2 li a{
   padding:7px 7px;
}
.menu-list-item3{
    display:flex;
    align-items:center;
    margin-left:20px;
    color:#fff;
    padding:10px 10px;
}
.menu-list-item3 i{
    font-size:1.4rem;
    margin-right:15px;
}
ul{
    list-style: none;
}
.menu-list-item2{
    height:180px;
    overflow-y:scroll;
}
::-webkit-scrollbar{
    width:4px ;
    background-color:lightgrey;
}
::-webkit-scrollbar-thumb{
    background-color:grey;
    border-radius: 5px;
}
.form{
    background-color:rgb(114,0,161);
    padding: 20px 20px;
    align-items: center;
    text-align:center;
    margin:5px 15px 15px 15px;
    border-radius: 10px; 
}
.form p{
    line-height:1.5rem;
}
.form button{
    outline:none;
    border:none;
    width:100px;
    height:30px;
    border-radius: 30px;
    border:1px solid #fff;
    cursor: pointer;
    margin-top:10px;
}
.main-list2{
    position:fixed;
    top:0;
    z-index: 5;
     width:calc(100% - 20%  + 20px );
    margin-left:19.7%;
}
.div{
    
    height:70px;
    align-items: center;
    text-align: center;
    display:flex;
    justify-content:space-between;
    background-color:rgb(55,7,93);
    z-index: 1;
   
}
.nabar-icon{
    display:flex;
    align-items: center;
    margin-right:20px;
}
.nabar-icon .span11,.span12,.span13{
   padding:13px 13px;
    border-radius: 50%;
    background-color: rgb(255 255 255 /50%);
    cursor: pointer;
}
.nabar-icon img{
    width:45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.span11:hover{
    opacity: 0.7;
}
.span12:hover{
    opacity: 0.7;
}
.span13:hover{
    opacity: 0.7;
}
.span12{
    margin:0 10px;
}
.span13{
    margin-right:10px;
}
.main-list2 span{
    color:#fff;
}
.main-list2-item1 {
    display:flex;
    z-index: 5;
}
.icon{
    display:flex;
    cursor: pointer;
    margin-left:20px;
}
.input{
    position:relative;
    width:450px;
    height:30px;
    border-radius: 20px;
    margin-left:15px;
   background-color:rgb(255 255 255 /50%);
}
 .input-list{
    position:absolute;
    width:450px;
    top:34px;
    right:0;
    left:0;
    background-color:rgb(55,7,93);
    box-shadow: 0 0 10px #666;
    z-index:2;
    display:none;
}
.input input:focus ~  .input-list{
    display:block;
}
.input-list p{
    font-size:1.2rem;
    margin-left:15px;
}
.input-list-item:hover{
    background-color:rgb(255 255 255 /50%);
}
.input-list-item{
    display:flex;
    padding:10px 10px ;
    align-items:center;
    cursor: pointer;
}
.input input{
    width:400px;
    height:30px;
    margin-left:30px;
    border:none;
    outline:none;
    background-color:transparent;
    color:#fff;
    font-size:1.05rem;
}
.icon-search{
    position:absolute;
    left:10px;
    top:50%;
    transform:translateY(-50%);
}

.input input::placeholder{
    color:#fff;
    font-size:1.02rem;
}

.icon1{
    margin-right:10px;
}

.icon1:hover{
    opacity: 0.8;
}
.icon2:hover{
    opacity: 0.8;
}
/* .imgg{
    width:100%;
    z-index:10;
} */
.imgg img{
    width:100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 10;
}

   

.main-list3{
    color:#fff;
    font-size:1.7rem;
    font-weight:600;
}
.main-list4-img{
    width:100%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    z-index: -1;
}
.main-list4-img img{
    display:block;
    width:100%;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.5s linear;
}
 .main-list4-item:hover img{
     transform:scale(1.1) ;
     border-radius: 10px;
}
.main-list4-item:hover .overflow{
  opacity: 1; 
}
.main-list4{
    margin:20px 40px;
}
.overflow{
    display:flex;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:10px;
    cursor: pointer;
    text-align: center;
    align-items:center;
    justify-content:center;
    opacity: 0;
    background-color:rgba(41,21,71,0.8);
    z-index:1;
}
.main-list4-item{
    position:relative;
}
.overflow .span1,.span3{
    color:#fff;
    font-size:2rem;
}
.overflow .span2{
    color:#fff;
    font-size:2rem;
    margin:0 20px;
    padding:10px 10px ;
    border-radius: 50%;
    border:1px solid #fff;
}
.span5{
    padding:10px 10px ;
    border-radius: 50%;
    border:1px solid #fff;
}
.img p{
    color:var(--timmo-color);
}
.p1{
    display: -webkit-box;
    font-size: 1.2rem;
    line-height: 1rem;;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top:10px;
}
.p2{
    display: -webkit-box;
    font-size: 1rem;
    line-height: 1.3rem;;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top:10px;
}
.main-list5-img{
    width:100%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    border:3px solid rgb(228,153,159);
}

.main-list5-img img{
    display:block;
    width:100%;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.5s linear;
}
.main-list5{
    margin: 30px 40px;
}
.main5-list-imgg:hover .img{
    transform: scale(1.1);
    border-radius: 50%;
}
.main5-list-imgg{
     position:relative;
    cursor: pointer;
    overflow: hidden;

}
.main5-icon{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    text-align:center;
    background-color:rgba(41,21,71,0.8);
    border-radius: 50%;
    opacity: 0;
}
.main5-icon span{
    font-size:2rem;
    color:#fff;
}
.main5-list-imgg:hover .main5-icon{
    opacity: 1;
}
.chung{
    width:100%;
    text-align:center;
    align-items:center;
    margin:10px auto;
}
.live{
    position:absolute;
    padding:5px 5px;
    background-color:red;
    border-radius: 5px;
    bottom:0;

}
.img1{
    position:absolute;
    border-radius: 50%;
    width:50px;
    object-fit: cover;
    bottom:0;
}
.main6 {
    margin:30px 40px;
}
.main6-img{
    width:100%
}
.main6-img img{
    width:100%;
    border-radius: 10px;
    object-fit: cover;
}
.main7{
    cursor: pointer;
    margin:30px 40px;
}
.main7-img{
    width:100%;
}
.main7-img img{
    width:100%;
    object-fit:cover;
}
.main7-img:hover{
    opacity: 0.8;
}
.main8{
    margin:20px 40px 150px 40px;
}
.main8-img{
    width:10%;
    height:70px;
    display:flex;
}
.main8-img img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 10px;
    background-color: #fff;
    margin:10px;
}
.main9{
    width:100%;
    position:fixed;
    bottom:0;
    height:100px;
    background-image: url("https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/theme-player/zma.png");
    justify-content:space-between;
    display:flex;
    align-items: center;
    text-align:center;
    border-top:1px solid #fff;
    z-index: 5;
}
.main9-list1{
    align-items:center;
    text-align:center;
    display:flex;
    width:400px;
}
.main9-list1 span{
    color:#fff;
}
.main9-img{
    margin: 0 10px 0 20px;

}
.heart{
    margin: 0 10px 0 0px;
    cursor: pointer;
}
.title{
    margin: 0 10px 0 0;
    font-size:1.2rem;
    font-weight: 600;
}
.main9-list1 p:nth-child(1){
    margin: 0 20px;
}
.main9-img{
    width:60px;
}
.main9-list1 img{
    width:100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 20px red;
}
.main9-list3 span{
    color:#fff;
    cursor: pointer;
}

.main9-list3{
    display:flex;
    align-items: center;
    margin-right:40px;
}
.seek{
    display:flex;
    margin-top:10px;
    align-items:center;
    justify-content:space-between;

}
.main9-control{
    display:flex;
    align-items:center;
    cursor: pointer;
}

.input-music{
    width:250px;
    height:4px;
    outline:none;
    border:none;
    margin:0 10px;
    overflow: hidden;
    cursor: pointer;
}
.main9-icon{
    display:flex;
    justify-content:space-between;
    margin-top:15px;
    cursor: pointer;
}
.main9-icon span{
    color:#fff;
}
.icon-valume{
    margin:0 10px;
}
.button1{
    outline:none;
    border:none;
    width:30px ;
    height:30px;
    border-radius: 50%;
    border:1px solid #fff;
    font-size:1.2rem;
    cursor: pointer;
}
.button1:hover{
    background-color:pink

}
.button2:hover{
    background-color:pink

}
.icon-valume{
    padding:7px 7px;
    border-radius: 50%;
    border:1px solid #fff;
    font-size:1rem;
    cursor: pointer;

}
.button2{
    outline:none;
    border:none;
    width:30px ;
    height:30px;
    border-radius: 50%;
    border:1px solid #fff;
    font-size:1.2rem;
    cursor: pointer;
    margin-right:10px;

}
.icon-play{
    padding:7px 7px;
    border-radius: 50%;
    border:1px solid plum;
    font-size:1rem;
    cursor: pointer;
}
 .main-img{
    margin:100px 40px 0 25px; 
} 
.main-list4{
    position:relative;
} 
.main-list4:hover .icon-right1{
    opacity: 1;
}
.main-list4:hover .icon-left1{
    opacity: 1;
}
 .icon-left1{
    position:absolute;
    top:50%;
    left:-10px;
    transform:translateY(-50%);
    width:30px;
    height:30px;
    background-color:#ccc;
    display:flex;
    justify-content:center;text-align:center;
    align-items:center;
    border-radius: 50%;
    cursor: pointer;
     opacity: 0;
      z-index: 2;
}
.icon-left1 i{
    font-size:1.5rem ;
    color:#fff;
}
.icon-right1{
    position:absolute;
    top:50%;
    right:-10px;
    transform:translateY(-50%);
    width:30px;
    height:30px;
    background-color:#ccc;
    display:flex;
    justify-content:center;text-align:center;
    align-items:center;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
.icon-right1 i{
    font-size:1.5rem ;
    color:#fff;
}
.music{
    
    animation:inform 10s infinite linear;
}
.song1{
    margin:10px 10px 5px 10px;
    font-size:1.3rem;
    font-weight: 600;
    color:#fff;
}
.sing{
    color:#fff;
}
.main9 .icon-heart{
    color:#fff;
    padding-bottom:10px;
    cursor: pointer;
}
.icon-heart1{
    padding-bottom: 10px;
    margin-left:10px;
}
.a-title{
    position:relative;
}
.background{
    position:absolute;
    /* left:-870px; */
    /* width:880px;
    height:280px; */
    top:60px;
    left:-590px;
    background-color:rgb(25,47,96);
    border-radius: 20px;
    display:none;
}
.background-title{
    display:flex;
    justify-content:space-between;
    margin:10px 10px;
}
.background-title h2{
    color:#fff;
    font-size:2rem;
}
.background-title span{
    color:#fff;
    font-size: 1.8rem;
}
.background-color{
    max-width:750px;
    display:flex;
    justify-content:space-between;
    margin: 0 20px 20px 20px
}
.color{
    width:18%;
}
.background-sing{
    max-width:750px;
    display:flex;
    justify-content:space-between;
    margin: 0 20px 20px 20px;
}
.background-song{
    width:18%;
    height:120px;
} 
.background-img{
    width:100%;
    height:120px;
}
.background-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.red{
    width:100%;
    height:120px;
    background-color:rgb(49,49,49);
    border-radius: 5px;
    text-align:center;
    align-items:center;
    justify-content:center;
    display:flex;
    border:2px solid #666;
}
.green{
    width:100%;
    height:120px;
    background-color:rgb(79,39,137);
    border-radius: 5px;
}
.colors{
     width:100%;
     height:120px;
    background-color:rgb(35,27,46);
    border-radius: 5px;
    text-align:center;
    align-items:center;
    justify-content:center;
    display:flex;
    cursor: pointer;
    border:2px solid #666;
    position:relative;
}
.color-like1{
    width:70px;
    height:20px;
    outline:none;
    cursor: pointer;
    border:none;
    border-radius: 2px;
    margin-bottom:5px;
}
.color-love1{
    width:70px;
    height:20px;
    outline:none;
    cursor: pointer;
    border:none;
    border-radius: 2px;
    margin-bottom:5px;
}
.color-like2{
    width:70px;
    height:20px;
    outline:none;
    cursor: pointer;
    border:none;
    border-radius: 2px;
    margin-bottom:5px;
}
.color-love2{
    width:70px;
    height:20px;
    outline:none;
    cursor: pointer;
    border:none;
    border-radius: 2px;
    margin-bottom:5px;
}
.color-like3{
    width:70px;
    height:20px;
    outline:none;
    cursor: pointer;
    border:none;
    border-radius: 2px;
    margin-bottom:5px;
}
.color-love3{
    width:70px;
    height:20px;
    outline:none;
    cursor: pointer;
    border:none;
    border-radius: 2px;
    margin-bottom:5px;
}
.color-like4{
    width:70px;
    height:20px;
    outline:none;
    cursor: pointer;
    border:none;
    border-radius: 2px;
    margin-bottom:5px;
}
.color-love4{
    width:70px;
    height:20px;
    outline:none;
    cursor: pointer;
    border:none;
    border-radius: 2px;
    margin-bottom:5px;
}
.color-like5{
    width:70px;
    height:20px;
    outline:none;
    cursor: pointer;
    border:none;
    border-radius: 2px;
    margin-bottom:5px;
}
.color-love5{
    width:70px;
    height:20px;
    outline:none;
    cursor: pointer;
    border:none;
    border-radius: 2px;
    margin-bottom:5px;
}


.green{
    width:100%;
    height:120px;
    background-color:rgb(5,26,79);
    border-radius: 5px;
    text-align:center;
    align-items:center;
    justify-content:center;
    display:flex;
    border:2px solid #666;
}
.yellow{
    width:100%;
    height:120px;
    background-color:rgb(43,99,83);
    border-radius: 5px;
    text-align:center;
    align-items:center;
    justify-content:center;
    display:flex;
    border:2px solid #666;
   
}
.blue{
    width:100%;
    height:120px;
    background-color:rgb(144,48,52);
    border-radius: 5px;
    text-align:center;
    align-items:center;
    justify-content:center;
    display:flex;
    border:2px solid #666;
   
}
.mau{
    margin-top:15px;
    text-align: left;
}
.color-like,.color-love{
    cursor: pointer;
}
.list2{
    margin-top:80px;
    margin-right:30px;
    display:none;
    margin-bottom:100px;
}
.main10{
    display:flex;
    justify-content:flex-end;
    color:#fff;
    align-items:center;
}
.main10 p:nth-child(1){
    padding:7px 7px ;
    background-color:yellow;
    border-radius: 10px;
    color:black;
}
.main10 p:nth-child(2){
    margin:0 20px;
    color:#fff;
}
.main10-avata{
    width:120px;
    align-items:center;
    text-align:center;
    display:flex;
    margin:0 auto;
}
.main10-avata img{
    width:100%;
    object-fit: cover;
    border-radius: 50%;
    margin:20px 0 10px 0;
}
.main10-title{
    align-items:center;
    text-align:center;
    font-size:2rem;
    font-weight: 600;
    margin-top:20px;
}
.ul{
    margin: 0 auto;
    background-color:rgb(31,52,97);
    width:80%;
    display:flex;
    justify-content:space-between;
    list-style: none;
    cursor: pointer;
    margin-top:60px;
    margin-bottom:50px;
}
 .ul li{
    padding:10px 15px;
    color:#fff;
    
}
.li-one{
    background-color:rgb(255 255 255 /50%);
}
.list-music1{
    display:block;
}
.list-music3-title{
    color:#fff;
    align-items:center;
    display:flex;
}
.list-music3-title h3{
    font-size:1.3rem;
    margin-right:10px;
}
.tao-list{
    display:flex;
    align-items:center;
    margin-top:40px;
}
.listnew{
    width:210px;
    height:300px;
    background-color:rgb(147,48,156);
    border-radius: 10px;
    text-align:center;
    position:relative;
    margin-bottom:30px;
}
.listnew1{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.listnew span{
    font-size:3rem;
    font-weight:600;
    color:#fff;
    margin-bottom: 15px;
}
.listnew p{
    font-size:1.2rem;
}
.list-music3{
    display:none;
}
.list-music4{
    width:80%;
    height:200px;
    background-color:rgb(31,52,97);
    position:relative;
    align-items:center;
    text-align: center;
    margin:0 auto;
    margin-bottom:60px;
    border-radius: 15px;
    display:none;
}
.list-music4-item{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:#fff;
}
.list-music4 span{
    font-size:5rem;
    margin-bottom:15px;

}
.list-music55{
    display:flex;
    margin-bottom:30px;
}
.list-music55 p{
    margin-right:15px;
    font-size:1.5rem;
    color:#fff;
    font-weight:600;
}
.list-music55 span{
    color:#fff;
    font-size:1.3rem;
    font-weight: 600;
}
.list-music5{
    display:none;
}
.list-music6{
    width:80%;
    height:200px;
    background-color:rgb(31,52,97);
    position:relative;
    align-items:center;
    text-align: center;
    margin:0 auto;
    margin-bottom:60px;
    border-radius: 15px;
    display:none;
}
.list-music6-item{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:#fff;
}
.list-music6-item span{
    font-size:5rem;
    margin-bottom:15px;

}
.list-music7{
    width:80%;
    height:200px;
    background-color:rgb(31,52,97);
    position:relative;
    align-items:center;
    text-align: center;
    margin:0 auto;
    margin-bottom:60px;
    border-radius: 15px;
    display:none;
}
.list-music7-item{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:#fff;
}
.list-music7-item span{
    font-size:5rem;
    margin-bottom:15px;

}.list-music2-title{
    display:flex;
    justify-content:space-between;
    color:#fff;
    margin-bottom:40px;
}
.list-music2{
    display:none;
}
.list-music2-item1{
    display:flex;
    align-items:center;

}
.list-music2-item1 p{
    margin-right:15px;
    font-size:2rem;
    font-weight: 600;
}
.list-music2-item1 span{
    font-size: 1.5rem;
    font-weight: 600;
}
.list-music-item2 {
    display:flex;
    align-items:center;
}
.list-music-item2 p:nth-child(1){
    margin-right:15px;
    padding:7px 7px ;
    border-radius: 10px;
    align-items:center;
    background-color:red;
    cursor: pointer;
}
.list-music-item2 p:nth-child(2){
     padding:7px 7px ;
    border-radius: 10px;
    align-items:center;
    background-color:red;
    cursor: pointer;
}
.list-music2-item{
    display:flex;
    align-items:center;
    justify-content:space-between;
    color:#fff;
    cursor: pointer;
    padding:15px 15px;
    
    
}
.list-music2-item2{
    background-color:rgb(255 255 255 /50%)
} 
.list-music2-item:hover{
    background-color:rgb(255 255 255 /50%)
}
.list-music2-item-img{
    width:300px;
    display:flex;
    align-items:center;
}
.list-music2-item-img img{
    width:40px;
    object-fit: cover;
    border-radius: 5px;
    margin-right:10px
}
.list-music2-sing p:nth-child(1){
    font-size:1.3rem;
    font-weight: 600;
    align-items:center;
    text-align:center;
}
.list-music2-icon2{
    margin:0 20px;
}
.list-music{
    margin-bottom:35px;
}
.include{
    background-color:rgb(255 255 255 /50%)
}

  .model{
    width:200px;
    background-color:rgb(43,99,83);
    color:#fff;
    border-radius: 10px;
    margin-left:300px;
    position:fixed;
    top:100px;
    z-index:5;
    transform:translateY(-150px);
    transition:all 0.5s linear;
} 
 .model i{
    float:right;
    font-size:1.3rem;
    margin:10px 10px;
    cursor: pointer;
}
.model p{
    width:100%;
    padding:20px 20px;
} 
.setting{
    position: relative;
    display:none;
}
.setting{
    position:absolute;
    width:240px;
    background-color:rgb(67,34,117);
    border-radius: 10px;
    right:0;
    top:70px;
}
.setting1{
    display:flex;
    align-items:center;
    padding:10px 10px;
}
.setting2{
    display:flex;
    align-items:center;
    padding:10px 10px;
}
.setting3{
    display:flex;
    align-items:center;
    padding:10px 10px;
}
.setting4{
    display:flex;
    align-items:center;
    padding: 10px 10px ;
}
.setting5{
    display:flex;
    align-items:center;
    padding: 10px 10px;
}

.setting6{
    display:flex;
    align-items:center;
    padding:10px 10px ;
}
.setting7{
    display:flex;
    align-items:center;
    padding:10px 10px;
}
.setting8{
    display:flex;
    align-items:center;
    padding:10px 10px;
}
.setting span{
    margin-right:10px;
}
.setting2-icon{
    margin-left:30px;
}
.setting3-icon{
    margin-left:40px;
}
.setting1:hover{
  background:rgb(255 255 255 /50%);

}
.setting2:hover{
    background:rgb(255 255 255 /50%);
    
  }
  .setting3:hover{
    background:rgb(255 255 255 /50%);
    
  }
  .setting4:hover{
    background:rgb(255 255 255 /50%);
    
  }
  .setting5:hover{
    background:rgb(255 255 255 /50%);
    
  }
  .setting6:hover{
    background:rgb(255 255 255 /50%);
    
  }
  .setting7:hover{
    background:rgb(255 255 255 /50%);
    
  }
  .setting8:hover{
    background:rgb(255 255 255 /50%);
  }

  .slick-next{
    position:absolute;
    top:43%;
    left:0%; 
    transform:translateY(-50%);
    border-radius:50%;
    outline: none;
    border:none;
    padding:10px 10px ;
    /* align-items:center;
    text-align:center;
    display:flex;
    cursor: pointer;
    justify-content:center; */
}
.slick-prev{
    position:absolute;
      top:43%;
      right:0%;
      transform:translateY(-50%);
      border-radius:50%;
      outline: none;
      border:none;
      padding:10px 10px ;
      /* align-items:center;
      text-align:center;
      display:flex;
      cursor: pointer;
      justify-content:center; */
      z-index:2;
}
.load{
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:center;
     position:fixed;
    z-index: 9999999;
    width:100%;
    height:100%;
    background-color:#ccc;
}

.xoay{
    width:80px;
    height:80px;
    border:3px solid red;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-radius: 50%;
    animation:identifier 0.50s infinite linear ;
}
@keyframes identifier {
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
    
}

 @media (min-width:1112px) {
    .app-moble{
        display:none;
    
}






